<h1 style="font-size:20px">Enter pokemon:</h1>
<form asp-action="Result" asp-method="Post" asp-controller="Home">
    <input type="text" name="pokemon" id="pokemon" placeholder="Pokemon"/>

    <br />
    <br/>
    <button type="button" class="btn btn-secondary">Submit</button>
</form>